<html>

<head>
    <title>All Warehouses</title>
</head>

<body>
    <h1>all Warehouses</h1>

    <ul>
        <% for (let Warehouses of Warehouse) { %>
            <li>
                <%= Warehouses.name %>

            </li>
            <% } %>
    </ul>
</body>

</html>