<html>

<head>
    <title>new product</title>
</head>

<body>
    <h1>create new product</h1>
    <form action="/products" method="post">
        <label for="name">product-name</label>
        <input type="text" name="name" id="name" placeholder="product-name">
        <label for="category">product-category</label>
        <input type="text" name="category" id="category" placeholder="product-category">
        <button>submit</button>
    </form>
</body>

</html>